@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="row">
    <div class="col-lg-6 col-md-12 ml-auto mr-auto">
        <div class="card card-pricing card-raised">
            <div class="card-body">
                <h6 class="card-category">Logout confirmation</h6>
                <div class="card-icon icon-rose">
                    <i class="material-icons">error_outline</i>
                </div>
                <br/>
                <p class="card-description">
                    Are you sure you want to log out?
                </p>
                <form class="ml-auto mr-auto" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-rose btn-round">Click to log out</button>
                </form>
            </div>
        </div>
    </div>
</div>