@model SharedThings.ViewModels.UserChangePasswordViewModel

@{
    ViewData["Title"] = "Manage users";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <h4 class="card-title">Change password for @Model.Username</h4>
            </div>
            <div class="card-body ">
                <form id="form" method="post" asp-controller="User" asp-action="ChangePassword" class="form-horizontal">
                    <div class="row">
                        <label asp-for="OldPassword" class="col-md-3 col-form-label">Current password</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                                <input asp-for="OldPassword" class="form-control">
                                <span asp-validation-for="OldPassword" class="field-validation-error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="NewPassword" class="col-md-3 col-form-label">New password</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                                <input asp-for="NewPassword" class="form-control">
                                <span asp-validation-for="NewPassword" class="field-validation-error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="ConfirmPassword" class="col-md-3 col-form-label">Confirm new password</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                                <input asp-for="ConfirmPassword" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
                            </div>
                        </div>
                    </div>

                    <input asp-for="Username" type="hidden" />

                </form>
            </div>
            <div class="card-footer ">
                <div class="ml-auto">
                    <button form="form" type="submit" class="btn btn-fill btn-rose">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

