@model SharedThings.ViewModels.UserNewViewModel

@{
    ViewData["Title"] = "Manage users";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <h4 class="card-title">New user</h4>
            </div>
            <div class="card-body ">
                <form id="form" method="post" asp-controller="User" asp-action="New" class="form-horizontal">
                    <div class="row">
                        <label asp-for="UserName" class="col-md-3 col-form-label">Username (valid email)</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                                <input asp-for="UserName" class="form-control">
                                <span asp-validation-for="UserName" class="field-validation-error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="SelectedRoleId" class="col-md-3 col-form-label">Role</label>
                        <div class="col-lg-5 col-md-6 col-sm-3">
                            <div class="form-group">
                                <select asp-for="SelectedRoleId" asp-items="@Model.AllRoles" class="form-control selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Single Select"></select>
                                <span style="display: block;" asp-validation-for="SelectedRoleId" class="field-validation-error ml-3"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="Password" class="col-md-3 col-form-label">Password</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="field-validation-error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label asp-for="PasswordConfirm" class="col-md-3 col-form-label">Confirm password</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                                <input asp-for="PasswordConfirm" class="form-control">
                                <span asp-validation-for="PasswordConfirm" class="field-validation-error"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer ">
                <div class="ml-auto">
                    <button form="form" type="submit" class="btn btn-fill btn-rose">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

